.circuitBreakerCounters{
  margin-top: 10px;
}

.circuitBreakerRollingWindowDescription {
  vertical-align: top;
}

.circuitBreakerRollingWindow {
  overflow: hidden;
  word-wrap: break-word;
  max-width: 300px;
  white-space: nowrap;
}

.box{
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.greenBox {
  background-color: green;
}

.redBox {
  background-color: red;
}

.semiTransparent {
  opacity: 0.4;
}

.innerPod {
  height: 300px;
}

.arrow {
  background-color: transparent;
  border: none;
  top: 48%;
  position: relative;
  /* margin-top: 145px;
  margin-bottom: 145px; */
}

.arrow:hover, .arrow:focus {
  color: blue;
  outline: 0;
  border: none;
  background-color: transparent;
}

.circuitBreakerStates > img {
  width: 450px;
  margin-left: -25px;
}

.tabContainer-tabs {
  width: 100%;
  display:inline-block;
  /*margin-top: -20px;*/
}

.tabContainer-tab-content {
  padding: 15px;
}

.tab {
  display: none;
}

.tab active {
  display: block;
}

#guide_content .breadcrumb a {
color: black;
}

.breadcrumb {
padding: 0px;
background: transparent;
list-style: none;
overflow: hidden;
margin-bottom: 20px;
border-radius: 4px;
}


.breadcrumb>li {
display: table-cell;
vertical-align: middle;
width: 1%;
background-color: hsla(0, 0%, 83%, 1);
}

.breadcrumb>li+li:before {
padding: 0;
}

.breadcrumb li a {
color: white;
text-decoration: none;
padding: 10px 0 10px 45px;
position: relative;
display: inline-block;
width: calc( 100% - 10px );
text-align: center;
text-transform: capitalize;
}

#guide_content li.enabled a:focus{
  color: white;
  outline: none;
}

#guide_content li:not(.enabled) a:focus{
  outline: none;
}

#guide_content li:not(.enabled) a{
  pointer-events: none;
}

.breadcrumb li.enabled {
background: #aaaaee;
}

.breadcrumb li.enabled a:after {
border-left: 30px solid #aaaaee;
}

.breadcrumb li.active {
background: #7f7fe6;
}

#guide_content .breadcrumb li.active a {
background: #7f7fe6;
color: white;
}

.breadcrumb li.active a:after {
border-left: 30px solid #7f7fe6;
}

.breadcrumb li:first-child a {
padding-left: 15px;
}

.breadcrumb li:last-of-type a {
width: calc( 100% - 10px );
}

.breadcrumb li a:before {
content: " ";
display: block;
width: 0;
height: 0;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
border-left: 30px solid white;
position: absolute;
top: 50%;
margin-top: -50px;
margin-left: 1px;
left: 100%;
z-index: 1;
color: black;
}

.breadcrumb li a:after {
content: " ";
display: block;
width: 0;
height: 0;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
border-left: 30px solid hsla(0, 0%, 83%, 1);
position: absolute;
top: 50%;
margin-top: -50px;
left: 100%;
z-index: 2;
}

.nextTabButton {
float: right;
display: none;
}

.sizable {
  max-width: 100%;
}

/* icon tabs */
.tooltip {
    position: fixed;
}
.stepProgression .nav-tabs {
    position: relative;
    border-bottom-color: darkgrey;
}

.stepProgression > div.tabContainer-tabs {
    position: relative;
}

.connecting-line {
    height: 4px;
    background: darkgrey;
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 20px;
    right: 0;
    top: 50%;
    z-index: 1;
}

.stepProgression .nav-tabs > li.active > a {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

.stepProgression .nav-tabs > li.active:hover span,
.stepProgression .nav-tabs > li.active:focus span {
  border-color: black;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: rgb(170,170,238);
    border: 3px solid #555;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}

.stepProgression li.active span.round-tab i {
  color: white;
}

.stepProgression li.active span.round-tab {
    background: #7f7fe6;
}

.stepProgression li.enabled span.round-tab {
    background: #aaaaee;;
}

.stepProgression li.disabled span.round-tab {
    background: hsla(0, 0%, 83%, 1);
}

span.round-tab:hover {
    color: #333;
    border: 3px solid #333;
}

.stepProgression .nav-tabs > li {
    width: calc(100%/3);
}

.stepProgression li:after {
    content: " ";
    position: absolute;
    left: calc(100%/3);
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.stepProgression li.active:after {
    content: " ";
    position: absolute;
    left: calc(100%/3 + 20px);
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #333;
}

.stepProgression .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

/*.stepProgression .nav-tabs > li a:hover {
    background: transparent;
}*/

@media( max-width : 585px ) {

    .stepProgression {
        width: 100%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .stepProgression .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .stepProgression li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .stepProgression li:first-child span.round-tab {
      margin-left: -10px;
    }

    .stepProgression li:last-of-type span.round-tab {
      margin-left: 10px;
    }
}
