.circuitBreakerCounters{
  margin-top: 10px;
}

.circuitBreakerRollingWindowDescription {
  vertical-align: top;
}

.circuitBreakerRollingWindow {
  overflow: hidden;
  word-wrap: break-word;
  max-width: 300px;
  height: 20px;
  white-space: nowrap;
}

.box{
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.successBox {
  background-color: #a1c14d;
}

.failureBox {
  background-color: #e58231;
}

.circuitBreakerInfo {
  margin-bottom: 10px;
}

.semiTransparent {
  opacity: 0.4;
}

.innerPod {
  height: 300px;
}

.arrow {
  background-color: transparent;
  border: none;
  top: 48%;
  position: relative;
  /* margin-top: 145px;
  margin-bottom: 145px; */
}

.arrow:hover, .arrow:focus {
  color: blue;
  outline: 0;
  border: none;
  background-color: transparent;
}

.circuitBreakerStates {
  text-align: center;
}

.tabContainer-tabs {
  width: 100%;
  display:inline-block;
  margin-bottom: 40px;
  margin-top: -50px;
}

.bankScenarioImg {
  text-align: center;
  margin-top: -30px;
}
.bankScenarioImg > img {
  width: 45%;
  min-width: 200px;
  max-width: 250px;
}

.picInPod {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media only screen and (min-width : 425px){
  .tabContainer-tab-content {
    padding: 15px;
  }
}

.tab {
  display: none;
}

.tab active {
  display: block;
}

/* icon tabs */
.tooltip {
    position: fixed;
}
.stepProgression .nav-tabs {
    position: relative;
    border-bottom: 2px solid;
    border-bottom-color: #555555;
}

.stepProgression > div.tabContainer-tabs {
    position: relative;
}

.connecting-line {
    height: 4px;
    background: darkgrey;
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 20px;
    right: 0;
    top: 50%;
    z-index: 1;
}

.stepProgression .nav-tabs > li.active > a {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

.stepProgression .nav-tabs > li.active:hover span,
.stepProgression .nav-tabs > li.active:focus span {
  border-color: black;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: hsla(0, 0%, 83%, 1);
    border: 3px solid #555;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}

.stepProgression li.active span.round-tab i {
  color: white;
}
.stepProgression li.enabled span.round-tab {
    background: #aaaaee;;
}

.stepProgression li.active span.round-tab {
    background: #7f7fe6;
}

span.round-tab:hover {
    color: #333;
    border: 3px solid #333;
}

.stepProgression .nav-tabs > li {
    width: calc(100%/3);
}

.stepProgression li:after {
    content: " ";
    position: absolute;
    left: calc(100%/3);
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: grey;
    transition: 0.1s ease-in-out;
}

.stepProgression li.active:after {
    content: " ";
    position: absolute;
    left: calc(50% - 10px);
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #333;
}

.circuitBreakerButton {
  margin-top: 30px;
  color: #282A4A;
  background-color: #ABD155;
  border-radius: 100px;
  padding: 3px 20px;
  transition: border .2s, background-color .2s;
}

.circuitBreakerButton:hover, .circuitBreakerButton:focus, .circuitBreakerButton:active {
  background-color: #C7EE63;
  outline: none;
}

.nextTabButton {
  float: right;
  display: none;
  margin-top: 30px;
  color: #282A4A;
  background-color: #ABD155;
  border-radius: 100px;
  padding: 3px 20px;
  transition: border .2s, background-color .2s;
}

.nextTabButton:hover, .nextTabButton:focus, .nextTabButton:active {
  background-color: #C7EE63;
}

#guide_content p.maxspace {
  margin-top: 0;
}

.stepProgression .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

@media( max-width : 585px ) {

    .stepProgression {
        width: 100%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .stepProgression .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .stepProgression li.active:after {
        content: " ";
        position: absolute;
        left: calc(100%/3 + 10px);
    }

}
