.circuitBreakerCounters{
  margin-top: 10px;
}

.circuitBreakerRollingWindowDescription {
  vertical-align: top;
}

.circuitBreakerRollingWindow {
  overflow: auto;
  word-wrap: break-word;
  max-width: 300px;
  white-space: nowrap;
}

.box{
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.greenBox {
  background-color: green;
}

.redBox {
  background-color: red;
}

.semiTransparent {
  opacity: 0.4;
}

.innerPod {
  height: 300px;
}

.arrow {
  background-color: transparent;
  border: none;
  top: 48%;
  position: relative;
  /* margin-top: 145px;
  margin-bottom: 145px; */
}

.arrow:hover, .arrow:focus {
  color: blue;
  outline: 0;
  border: none;
  background-color: transparent;
}

.circuitBreakerStates > img {
  width: 450px;
  margin-left: -25px;
}

.tabContainer-tabs {
  width: 100%;
  display:inline-block;
  margin-top: -20px;
}

.tabContainer-tab-content {
  padding: 15px;
}

.tab {
  display: none;
}

.tab active {
  display: block;
}

#guide_content .breadcrumb a {
color: black;
}

.breadcrumb {
padding: 0px;
background: transparent;
list-style: none;
overflow: hidden;
margin-bottom: 20px;
border-radius: 4px;
}


.breadcrumb>li {
display: table-cell;
vertical-align: middle;
width: 1%;
background-color: hsla(0, 0%, 83%, 1);
}

.breadcrumb>li+li:before {
padding: 0;
}

.breadcrumb li a {
color: white;
text-decoration: none;
padding: 10px 0 10px 45px;
position: relative;
display: inline-block;
width: calc( 100% - 10px );
text-align: center;
text-transform: capitalize;
}

#guide_content li.enabled a:focus{
  color: white;
  outline: none;
}

#guide_content li:not(.enabled) a:focus{
  outline: none;
}

#guide_content li:not(.enabled) a{
  pointer-events: none;
}

.breadcrumb li.enabled {
background: #aaaaee;
}

.breadcrumb li.enabled a:after {
border-left: 30px solid #aaaaee;
}

.breadcrumb li.active {
background: #7f7fe6;
}

.breadcrumb li.active a {
background: #7f7fe6;
color: black;
}

.breadcrumb li.active a:after {
border-left: 30px solid #7f7fe6;
}

.breadcrumb li:first-child a {
padding-left: 15px;
}

.breadcrumb li:last-of-type a {
width: calc( 100% - 10px );
}

.breadcrumb li a:before {
content: " ";
display: block;
width: 0;
height: 0;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
border-left: 30px solid white;
position: absolute;
top: 50%;
margin-top: -50px;
margin-left: 1px;
left: 100%;
z-index: 1;
color: black;
}

.breadcrumb li a:after {
content: " ";
display: block;
width: 0;
height: 0;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
border-left: 30px solid hsla(0, 0%, 83%, 1);
position: absolute;
top: 50%;
margin-top: -50px;
left: 100%;
z-index: 2;
}

.nextTabButton {
float: right;
/* display: none; */
}