.codeeditor .CodeMirror {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 12px;
}

.editorContainer {
}

.editorContainer .CodeMirror-linenumber {
  color: dimgray;
}

.editorFileName {
}

.readonlyLines {
  color: dimgray !important;
  /* cursor: not-allowed; */
}

.insertTextColor {
  background-color: hsla(0,100%,50%,0.05);
  color: #d20 !important;
}

.editorButtonFrame {
  background: #eee none repeat scroll 0 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid #ccc;
  position: relative;
  min-height: 30px;
  overflow: hidden;
}

.editorSaveButton, .editorResetButton, .editorUndoButton, .editorRedoButton {
  display: block;
  float: left;
  /* line-height: 0; */
  margin: 1px 0px 1px 8px;
  padding: 2px;
  border: none;
  background-color: transparent;
}

.editorRunButton {
  display: block;
  float: right;
  /* line-height: 0; */
  margin: 1px 8px 1px 0px;
  padding: 2px;
  border: none;
  background-color: transparent;
}

.editorSaveButton:focus, .editorResetButton:focus, .editorUndoButton:focus, .editorRedoButton:focus, .editorRunButton:focus {
   outline: 2px solid blue;
}

.alertFrame {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid #ccc;
  position: relative;
  min-height: 30px;
  padding: 5px;
  overflow: hidden;
}

.here_button_error_editor {
  border: none;
  background-color: #f2dede;
  font-weight: bold;
}

.close_button_error_editor {
  float: right;
  background-color: #f2dede;
  border: none;
}
