#guide_content pre.CodeMirror-line {
  border-radius: unset;
  border: unset;
  padding: 0 4px;  /* unset doesn't work on ie */
  background-color: transparent;  /* unset doesn't work on ie */
  color: unset;
}

#leftPane {
  height: 500px;
  margin-top: 28px;
  padding-top: 2px;
  padding-left: 18px;
  padding-right: 18px;
  float: left;
}

@media all and (max-width:768px)
{
    #leftPane
    {
        display: block;
        height: auto;
        width: 100%;
        overflow: auto;
        z-index: 5; /* For clicking the steps */
    }
}

#main {
  vertical-align: top;
}

@media (max-width: 400px){
  #blueprint{
    overflow-x: scroll;
  }
}

#blueprint_title {
  display: inline-block;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

#blueprint_description {
  text-align: left;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
}

#guide_content #blueprint_description h4 {
  color: black;
}

#blueprint_description:focus,
#blueprint_instruction:focus {
  outline: none;
}

#blueprint_instruction {
  text-align: left;
  font-size: 16px;
  width: 100%;
}

action.disabled {
  color: red;
}

action {
  cursor: pointer;
  font-size: 14px;
  font-family: "Fira Mono","DejaVu Sans Mono",Menlo,Consolas,"Liberation Mono",Monaco,"Lucida Console",monospace;
  color: #FFF;
  background: #555;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 2px 4px;
  display: inline-block;
  white-space: pre-wrap;
}

action:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt orange;
}

instruction {
  background-color: rgba(150, 188, 50, 0.3);
  padding: 10px;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
}

instruction.completed {
  opacity: 0.5;
  pointer-events: none;
}

instruction .instrCompleteMark {
  visibility: hidden;
  padding: 5px;
}

instruction.completed .instrCompleteMark {
  visibility: visible;
  padding: 5px;
}

instruction.unavailable {
  opacity: 0.5;
  pointer-events: none;
}

.instructionContent {
  padding-left: 5px;
}

samp {
  font-size:13px;
  padding: 9.5px;
  margin: 0 0 10px;
}

note {
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  line-height: 1.8;
  font-size: 15px;
}
