/*
.rightPane {
    float: right;
    width: 600px;
}
*/

#blueprint_step_content{
  padding-top: 60px;
}

.subContainerDiv{
  padding: 0px 5px;
  margin-bottom: 25px;
}

@media (max-width: 450px) {
  .subContainerDiv {
    margin-bottom: 60px;
  }
}

.instruction {
  display: block;
}

.buttonContainer {
  font-size: 15px !important;
  border-color: transparent;
  background-color: transparent;
  float: left !important; 
  padding-left: 5px; 
}

