#table_of_contents_title {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 3px solid steelblue;
}

#tableOfContents {
  padding-left: 0;
}

.tableOfContentsStep {
  display: block;
  width: 100%;
  list-style-type: none;
  padding-left: 10px;
}

.tableOfContentsStep>span:hover{
  cursor: pointer;
}

.tableOfContentsSpan {
  display: inline-block;
  width: auto;
  max-width: calc(100% - 25px);
  font-size: 14px;
  color: #e6eda8;
  border-bottom: 3px solid transparent;
  word-wrap: break-word;
  overflow: hidden;
}

.selectedStep > .tableOfContentsSpan {
  border-bottom: 3px solid #96BC32;
}
