.wb {
    border: 1.8px solid steelblue;
}

.wbNavBar {
    background-color: steelblue;
    height: 50px;
    width: 100%;
    color: lightsteelblue;
    padding: 10px;
    overflow-x: hidden;
    white-space: nowrap;
}

.wbNavButton {
    padding: 2px;
    background-color: transparent;
    border: none;
    color: ghostwhite;
}

.wbNavButtonDisabled {
    color: lightsteelblue;
}

.wbNavButtonActive:hover {
    background-color: lightsteelblue;
    color: ghostwhite;
}

.wbNavURL {
    padding: 2px;
    width: 75%;
    color: darkslategrey;
}

.wbContent {
    height: 400px;
}
