#leftPane{
  display: inline-block;
  height: 500px;
  width: 180px;
  padding-top: 30px;
  padding-left: 18px;
}

#table_of_contents_title {
  font-size: 18px;
  margin-bottom: 3px;
}

#tableOfContents{
  border: 2px solid steelblue;
}

.tableOfContentsStep{
  display: block;
  width: 100%;
  padding-left: 10px;
  font-size: 18px;
  color: black;
}

.tableOfContentsStep:hover, .tableOfContentsStep:focus{
  color: white;
  cursor: pointer;
  background-color: steelblue;
}
