#leftPane{
  height: 500px;
  width: 150px;
}

.tableOfContents{
  margin-left: 10px;
  margin-top: 20px;
  border: 2px solid steelblue;
}

.tableOfContentsStep{
  display: block;
  width: 100%;
  padding-left: 10px;
  font-size: 18px;
  color: black;
}

.tableOfContentsStep:hover, .tableOfContentsStep:focus{
  color: white;
  cursor: pointer;
  background-color: steelblue;
}
