
.circuitBreakerRollingWindowDescription {
  vertical-align: top;
}

.circuitBreakerRollingWindow {
  overflow: auto;
  word-wrap: break-word;
  max-width: 300px;
  white-space: nowrap;
}

.box{
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
}

.box:last-of-type{
  margin-right: 0px;
}

.greenBox {
  background-color: green;
}

.redBox {
  background-color: red;
}
