.fileBrowserTitle {

}

.fileBrowser {
  height: 100%;
  border: 1px solid black;
  overflow: scroll;
}

.fileBrowserElement {
  display: block;
  width: 100%;
  padding-left: 10px;
  font-size: 18px;
  color: black;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
}

.fileBrowserElement:hover {
  cursor: pointer;
}

.fileBrowserDirectory {

}

.fileBrowserFile {

}

.fileBrowseIcon {

}

.fileBrowseSpan {
  margin-left: 5px;
}
