#leftPane{
  height: 500px;
  margin-top: 28px;
  padding-top: 2px;
  padding-left: 18px;
  padding-right: 18px;
  float: left;
}

@media all and (max-width:800px)
{
    #leftPane
    {
        display: block;
        height: auto;
        width: 100%;
        overflow: auto;
    }
}

#main {
  /* width: auto; */
  vertical-align: top;
  margin-top: 28px;
  padding-top: 2px;
  overflow: hidden;
}

@media (max-width: 400px){
  #blueprint{
    overflow-x: scroll;
  }
}

#blueprint_title {
  display: inline-block;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

#blueprint_description {
  text-align: left;
  font-size: 16px;
  width: 100%;
}

#nav_buttons {
  float: right;
  text-align: right;
}

/* previous and next buttons */
.navButtons {
  font-size: 20px;
  border-color: transparent;
  background-color: transparent;
}

action {
  cursor: pointer;
  font-size: 14px;
  font-family: "Fira Mono","DejaVu Sans Mono",Menlo,Consolas,"Liberation Mono",Monaco,"Lucida Console",monospace;
  color: #FFF;
  background: #555;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 2px 4px;
  display: inline-block;
  white-space: pre-wrap;
}

action:focus {
  outline: 2px solid blue;
}

instruction {
  background-color: rgba(150, 188, 50, 0.3);
  padding: 10px;
  border-radius: 2px;
  display: inline-block;
  max-width: 80%;
}

#blueprint_description:focus {
  outline: none;
}

samp {
  font-size:13px;
  padding: 9.5px;
  margin: 0 0 10px;
}