#leftPane{
  display: inline-block;
  height: 500px;
  width: 180px;
  padding-top: 30px;
  padding-left: 18px;
}

#main {
  display: inline-block;
  vertical-align: top;
  margin: 30px 0 0 0;
  width: calc(100% - 200px);
}

#blueprint_title {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 30px;
}

#blueprint_description {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  width: 100%;
}
