#leftPane{
  height: 500px;
  padding-top: 30px;
  padding-left: 18px;
  padding-right: 18px;
  float: left;
}

@media all and (max-width:800px)
{
    #leftPane
    {
        display: block;
        height: 250px;
        width: 100%;
        overflow: auto;
    }
}

#main {
  /* width: auto; */
  vertical-align: top;
  margin: 30px 0 0 0;
  overflow: hidden;
}

@media (max-width: 400px){
  #blueprint{
    overflow-x: scroll;
  }
}

#blueprint_title {
  /* display: inline-block; */
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 30px;
}

#blueprint_description {
  /* display: inline-block; */
  text-align: center;
  font-size: 24px;
  width: 100%;
}

#nav_buttons {
  text-align: right;
}

/* previous and next buttons */
.navButtons {
  font-size: 20px;
  border-color: transparent;
  background-color: transparent;
}
