/*
.rightPane {
    float: right;
    width: 600px;
}
*/

#blueprint_step_content{
  padding-top: 60px;
}

.subContainerDiv{
  padding: 0px 5px;
  margin-bottom: 25px;
}

.instruction {
  display: block;
}

