#table_of_contents_title {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 3px solid steelblue;
}

#tableOfContents {
  padding-left: 0;
}

.tableOfContentsStep {
  display: block;
  width: 100%;
  list-style-type: none;
  padding-left: 10px;
}

.tableOfContentsStep:focus{
  outline: none;
}

.tableOfContentsStep>span:hover{
  cursor: pointer;
  outline: none;
}

.tableOfContentsSpan:hover, .tableOfContentsSpan:hover {
  border-bottom: 3px solid #96BC32;
}

.tableOfContentsToggleButton {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 5px;
  width: 16px;
}

.tableOfContentsSpan {
  display: inline-block;
  width: calc(100% - 25px);
  font-size: 18px;
  color: black;
  border-bottom: 3px solid transparent;

  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectedStep {

}

.selectedStep > .tableOfContentsSpan {
  border-bottom: 3px solid #96BC32;
}
