#table_of_contents_title {
  font-size: 18px;
  margin-bottom: 3px;
}

#tableOfContents{
  border: 1.5px solid steelblue;
}

.tableOfContentsStep{
  display: block;
  width: 100%;
  padding-left: 10px;
  font-size: 18px;
  color: black;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
}

.selectedStep{
  background-color: steelblue;
  color: white;
}

.tableOfContentsStep:hover, .tableOfContentsStep:focus{
  color: white;
  cursor: pointer;
  background-color: steelblue;
}
