#table_of_contents_title {
  font-size: 18px;
  margin-bottom: 3px;
}

#tableOfContents {
  border: 1.5px solid steelblue;
  padding-left: 0;
}

.tableOfContentsStep {
  display: block;
  width: 100%;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
}

.tableOfContentsStep:hover, .tableOfContentsStep:focus {
  background-color: steelblue;
  cursor: pointer;
}

.tableOfContentsStep:hover>.tableOfContentsSpan, .tableOfContentsStep:focus>.tableOfContentsSpan {
  color: white;
}

.tableOfContentsToggleButton {
  display: inline-block;
  margin-right: 5px;
}

.tableOfContentsSpan {
  display: inline-block;
  font-size: 18px;
  color: black;

}

.selectedStep {
  background-color: steelblue;
}

.selectedStep > .tableOfContentsSpan {
  color: white;
}
